body {
    background-color: #E0F7FA;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 95%;
    margin: auto;
}

header {
    background-color: #00838F;
    height: 200px;
}

nav {
    background-color: #006064;
    padding: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 150%;
    padding: 20px;
}

.main-block {
    height: 350px;
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

footer {
    background-color: #006064;
    color: #fff;
    text-align: right;
    padding: 10px;
}

ul {
    text-align: left;
}

button {
    background-color: #00838F;
    color: #fff;
}

button:hover {
    color: #80DEEA;
}
table {
    margin: auto;
}