* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color:#FFD966;
}
header {
    width: 100%;
    height: 200px;
    clear: both;
    color: white;
    text-align: center;
}
nav {
    width: 25%;
    height: 450px;
    float: left;
    color: green;
    padding-left: 20px;
}
nav a {
    color: green;
    margin: 15px;
    text-decoration: none;
}
main {
    text-align: center;
    width: 75%;
    height: 450px;
    float: right;
    background-color: lightgreen;
    box-shadow: 0 0 5px 3px gray inset;
}
main span {
    color: green;
    font-weight: bolder;
}
footer {
    width: 100%;
    height: 200px;
    clear: both;
    color: white;
    padding: 20px;
    text-align: center;
}
img {
    width: 100%;
}
table {
    text-align: center;
    margin: 0 auto;
    width: 800px;
    height: 300px;
    overflow: auto;
}
tr, th, td, table {
    border: 1px solid black;
    border-collapse: collapse;
}
h2 {
    margin: 10px;
}