html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "georgia", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-image: linear-gradient(to bottom, peru 0%, goldenrod 50%, peru 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-items: center;
    text-align: center;
}
header {
    width: 100%;
    height: 15%;
    clear: both;
}
header h1 {
        color: brown;
    font-weight: bolder;
}
button {
    margin: 20px 0 auto;
    margin-left: 30px;
    margin-right: 30px;
    background-color: brown;
    color: white;
    cursor: pointer;
}
main {
    color: black;
    width: 100%;
    height: 70%;
    clear: both;
}
img {
    height: 70px;
    width: 550px;
}
footer {
    clear: both;
    height: 15%;
    width: 100%;
    color: black;
}
footer h4 {
    margin-top: 200px;
}
table {
    border: 2px solid ;
    border-collapse: collapse;
    margin-top: 100px;
    width: 50%;
}
td, th, tr {
    border: 2px solid ;
    padding: 10px;
    color: brown;
    background-color: navajowhite;
}
form{
    margin-top: 100px;
}
label, input {
    margin: 10px;
}