
* {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EAEAEA;
}

header {
    width: 100%;
    height: 200px;
    background-image: url(imgfajny2.png);
    clear: both;
    color: white;
    background-attachment: fixed;
    background-size: contain;
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 2px 3px black;
}

nav, footer {
    background-color: #625B5B;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    font-weight: bold;
    background-color: #EAEAEA;
    border: 1px solid #EAEAEA;
    color: #625B5B;
    padding: 10px;
    margin: 0 50px;
    border-radius: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #625B5B;
    color: #EAEAEA;
    border: 1px solid #EAEAEA;
}

main {
    background-color: #EAEAEA;
    width: 100%;
    height: 400px;
    padding: 30px;
}
main h3 {
    padding: 10px;
}

img {
    width: 350px;
    display: block;
}

ul {
    margin-left: 40px;
    list-style-type: circle;
}

table {
    border: 1px dashed #625B5B;
    width: 60%;
    margin-left: 40px;
    text-align: center;
    border-collapse: collapse;
}

tr, td, th {
    padding: 5px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.kontroli {
    padding: 5px;
}
#SO {
    background-color: #EAEAEA;
    width: 100%;
    height: 400px;
    padding: 30px;
    display: flex;
}

#SO h2, img, h1, h4 {
    margin: auto;
}