* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header a{
    margin-left: 10%;
    margin-right: 9%;
}
body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, darkcyan, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    color: white;
}
#top, #mid, #bot {
    margin-left: 10%;
    margin-right: 10%;

}
#top{
    color: white;
    text-align: center;
    background-color: brown;
    opacity: 0.5;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 80%;
    height: 20%;
}
#mid {
    background-color: burlywood;
    width: 80%;
    height: 20%;
}
#bot {
    background-color: brown;
    width: 80%;
    height: 20%;
}