th, td, table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 5px;
    padding: 10px;
}
th {
    background-image: linear-gradient(to bottom,purple,blue);
    color: white;
}
* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}