body, html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
  font-family: 'Century Gothic', Verdana, sans-serif;
}

body {
  background-color: #F0EAE2;
}

header, footer {
  background-image: url(cegla.jpg);
  color: white;
  height: 60px;
  text-align: center;
  clear: both;
}

nav {
  background-color: #824555;
  width: 80%;
  height: 60px;
  float: left;
}

aside {
  width: 20%;
  height: 560px;
  text-align: right;
  overflow: hidden;
  float: right;
}

aside img {
  width: 100%;
}

section {
  width: 40%;
  height: 500px;
  overflow: auto;
}
.mainbottomright{
    float: left;
}
.mainbottomleft{
    float: right;
}

h2 {
  text-align: center;
}

a {
  color: #F0EAE2;
  margin-left: 100px;
  font-size: 180%;
}

a:hover {
  color: white;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}